.title-section {
   text-align: center;
   margin: 2.5rem 0;
}

.title-section h2 {
   color: white;
   font-size: 3rem;
}

.container-projects {
   padding-left: 3rem;
   padding-right: 3rem;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 3rem;
}

.cards {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   width: 320px; /*Cambiar ancho de la card*/
   height: 240px;
   border-radius: 20px;
   margin-bottom: 20px;
   position: relative;
   overflow: hidden;
}

.card__img {
   border-radius: 20px;
   margin-bottom: none;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.card-content {
   position: absolute;
   bottom: -1px;
   width: 100%;
   background: linear-gradient(to bottom, rgba(0, 4, 40, 0.3), rgba(0, 78, 144, 1));
   --webkit-backdrop-filter: blur(20px);
   --background-filter: blur(20px);
   transform: perspective(500px);
   transform-style: preserve-3d;
   padding: 10px 10px 16px 10px;
}

.card-content--smSecreen {
   height: 85px;
   border-radius: 0 0 20px 20px;
}

.card-content--bgSecreen {
   display: none;
}

.card__title {
   font-size: 1rem;
   margin-bottom: 20px;
   text-align: center;
   color: white;
   text-transform: capitalize;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

.action {
   display: flex;
   justify-content: space-around;
   font-size: .8rem;
   align-items: center;
}

.action a {
   text-decoration: none;
   color: white;
}

.action a:active i.fas {
   box-shadow: 0 0 1em rgb(6, 192, 0) inset;
}

i.fas {
   width: 25px;
   height: 25px;
   display: flex;
   background-color: white;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   margin: 0 auto 30px;
   color: rgb(31, 76, 105);
}

/* For large screen to medium screen */

@media (min-width: 768px) {
   .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax( 320px, 1fr));
      gap: 20px;
      align-items: center;
      justify-items: center;
   }

   .card-content--smSecreen {
      display: none;
   }

   .card-content--bgSecreen {
      visibility: hidden;
      opacity: 0;
      bottom: 0;
      height: 0px;
      border-radius: 20px;
      transition: 0.5s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .card:hover .card-content--bgSecreen {
      visibility: visible;
      height: 100%;
      opacity: 1;
      transform-origin: bottom;
      --webkit-transition: 0.5s ease;
      --moz-transition: 0.5s ease;
      --ms-transition: 0.5s ease;
      --o-transition: 0.5s ease;
   }
}